main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main .transiciones {
    display: flex;
    width: 80%;
    height: 450px;
    justify-content: center;
    align-items: center;
}
main .transiciones img {
    height: 100%;
}
/* inicio-filter */
main .filter {
    width: 80%;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 10px 0;
    justify-self: center;
    align-self: center;
    background-color: darkgrey;
}
/* dropdown */
/* Dropdown Button */
.dropbtn {
    background-color: darkgrey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #000;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
/* fin-drop-down */
/* fin.filter */
/* inicio-container-product */
main .container-products {
    width: 100%;
    display: grid;
    justify-content: space-around;
    padding: 10px 0;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px 10px;
}
main .container-products .product img {
    width: 250px;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 3px;
}
main .container-products .product img:hover {
    width: 255px;
    height: 255px;
}
main .container-products .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #f1f3f5;
}
main .container-products .product .nombre {
    text-decoration: none;
    color: var(--color-4);
    font-size: 24px;
}

main .container-products .price {
    text-decoration: none;
    color: var(--color-7);
    font-size: 18px;
    margin: 5px 0 5px 0;
}
main .container-products .btn {
    text-decoration: none;
    padding: 0 20px; /*arribaAbajo - dereachaIzquierda*/
    height: 40px;
    line-height: 40px;
    border: none;
    color: #ffffff;
    background: var(--color-3);
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
main .container-products .product .btn:hover {
    background-color: var(--color-4);
}
main .container-products .product i {
    margin-right: 7px;
}