:root {
    --color-1: #FBEFC4;
    --color-2: #52696F;
    --color-3: #E5717F;
    --color-4: #9E3150;
    --color-5: #88BAA4;
}
* {
    padding: 0;
    margin:0;
    border:0;  
}
body {
    display: block;
    background-color: var(--color-1);
}
.top-bar{
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--color-3);
    justify-content: space-between;
    align-items: center;
}
.top-bar .social {
    display: inline-block;
    position: relative;
    width: auto;
    margin-left: 7px;
}
.top-bar .social i {
    font-size: 20px;
    color: #FFF;
    margin-right: 7px;
}

.top-bar .contact {
    display: inline-block;
    position: relative;
    margin-right: 7px;
}
.top-bar .contact a{
    text-decoration: none;
    color: #FFF;
    margin-left: 7px;
}
.top-bar .suscribirse {
    border-right: 1px solid #FFF;
    padding-right: 7px;
}
/* header */
header {
    display: flex;
    width: 100%;
    background-color: var(--color-4);
    justify-content: space-between;
    align-items: center;
}
header .logo{
    display: inline-block;
    position: relative;
    width: 115px;
    margin-left: 65px;
}
header .logo .logo-width {
    width: 100%;
}
header .navegation {
    display: inline-block;
    position: relative;
    width: auto;
    align-items: initial;
    font-size: 35px;
    margin-right: 25px;
}
header li {
    display: inline-block;
}
header a {
    text-decoration: none;
    color: #FFF;
}
header .nav-mar-r {
    margin-right: 3px;
    padding-right: 7px;
    border-right: 1px solid #FFF;
}
/* main */
main {
    align-items: center;
    justify-content: center;
}
/* quienes somos */
main .presentacion {
    width: 100%;
    height: 350px;
    margin-top: 10px;
    background-image: url(img/nosotros.jpg);  
    justify-content: center;
    align-items: center;
}
main .presentacion .text{
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-1);
    font-size: 95px;
}
main .presentacion .text .text-1 {
    position: relative;
    margin-left: 36%;
}
main .presentacion .text .text-2 {
    position: relative;
    margin-left: 45%;
}
/* txt preentacion */
main .txt-presentacion {
    display: block;
    position: relative;
    margin: 10px;
    width: 550px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.87);
   border-radius: 30px 30px 3px 30px;
   align-items: center;
   text-align: center;
}
main .txt-presentacion .nombre {
    font-size: 100px;
}
.btn-tienda {
    padding: 0 20px; /*arribaAbajo - dereachaIzquierda*/
    height: 40px;
    line-height: 40px;
    border: none;
    color: #ffffff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.btn-tienda:hover {
    background: rgba(94, 125, 227, .9);
}
