<header>
  <div class="top-bar">
      <div class="social">
          <a href="#" class="btn-social" id="btn-facebook">Facebook<i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn-social" id="btn-instagram">Instagram<i class="fab fa-instagram"></i></a>
          <a href="#" class="btn-social" id="btn-pinterest">Pinterest<i class="fab fa-pinterest"></i></a>
      </div>
      <div class="logo">
          <a href="index.html"><img src="img/logo.png" alt=""></a>
      </div>
      <nav>
          <ul>
              <li><a href="" class="bor-right">Iniciar sesión</a></li>
              <li><a href="">Carrito de compras</a></li>
              <div class="search">
                  <input type="search" placeholder="Buscar">
                  <button type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
              
          </ul>
      </nav>
  </div>
  <div class="navegation">
      <nav class="nav-width">
          <ul>
              <li><a href="index.html" class="bor-right">Inicio</a></li>
              <li><a href="products.html" class="bor-right">Productos</a></li>
              <li><a href="ocasiones.html" class="bor-right">Ocasiones</a></li>
              <li><a href="servicios.html" class="bor-right">Servicios</a></li>
              <li><a href="contact.html" class="bor-right">Contáctanos</a></li>
              <li><a href="">Carrito</a></li>
          </ul>
      </nav>
  </div>
</header>